<h1>User Information</h1>
<p>Username: {{xx.username}}</p>
<p>First Name: {{xx.firstName}}</p>
<p>Last Name: {{xx.lastName}}</p>
<p>Profession: {{xx.profession}}</p>
<p>Biography: {{xx.bio}}</p>
<a href="/logout">Logout</a>